.navbar-logo {
  height: 60px;
  width: auto;
  object-fit: contain;
  margin: 8px 0;
}

/* 针对手机端的样式 */
@media screen and (max-width: 768px) {
  .navbar-logo {
    height: 80px; /* 在手机端显示更大的logo */
    margin: 6px 0; /* 适当调整间距 */
  }
}